{{ partial "head_meta.html"}}
{{ partial "circle_arrow_icon.html"}}

<main>
    <header class="header_section" style="background: var(--faint-blue)">
        <div class="center">
            <div class="header_container">

                <div class="header_bar">
                    <div class="header_title">
                        <h1 class="no_margins">Projects.</h1>
                    </div>

                    <div class="header_menu">
                        <a class="header_menu_text" href="/">Home</a>
                        <a class="header_menu_text" href="/projects/">Projects</a>
                        <a class="header_menu_text" href={{ "pdfs/Bill_Fan_CV_7_19_2024.pdf" | absURL }} target="_blank" >CV</a>
                    </div>
                </div>

                {{/*  For each project entry, create a small project entry card  */}}

                <div class="project_grid">
                    {{ with .Site.Params.projects_page}}
                    {{ range .entry }}
                        {{/*  Fetch optional configurations for each entry  */}}
                        {{ $entry_width := cond (isset . "width") .width 0}} {{/* Default width = 1 */}}
                        {{ $entry_posn := cond (isset . "img_posn") .img_posn "center"}} {{/* Default img posn = center */}}
                        <div
                            class="small_vertical_card project_entry"
                            style='background: white; grid-column-end:span 2'
                            onclick="location.href='{{ .url }}'"
                        >
                            <div
                                class="small_project_img",
                                style="background: url({{ .image | absURL }}) {{ $entry_posn }}">
                            </div>
                            <h4 style="margin: 20px 10px 20px 10px;">{{ .title }}</h4>
                        </div>
                    {{ end }}
                    {{ end }}
                </div>
            </div>


    </header>
</main>