:root{
  --black: #000000;
  --dark-red: #A71B5F;
  --red: #E664a4;
  --medium-light-red: #f38ab3;
  --light-red: #FFB2D0;
  --faint-red: #FFEBF3;
  --dark-blue: #4B6BBF;
  --blue: #87A7FA;
  --medium-light-blue: #8BBAFF;
  --light-blue: #A2C7FF;
  --faint-blue: #E3EEFF;
  --dark-yellow: #BF8400;
  --yellow: #F8CA61;
  --medium-light-yellow: #FFD780;
  --light-yellow: #FFE19F;
  --faint-yellow: #FFF7E7;
  --dark-green: #128354;
  --green: #82CDAE;
  --medium-light-green: #B4E4CF;
  --light-green: #CBEBDD;
  --faint-green: #E9F9F2;
}

a:link{
  color:var(--blue)
}

a:visited{
  color: var(--dark-blue)
}


html{
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}  

body{
  margin: 0px;
  padding: 0px;
}

.no_margins{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.small_bottom_margin{
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
}

h1{
  font-family: Montserrat;
  font-weight: 800;
  font-size: 2.5em;
  color: var(--black)
}

h3{
  color: var(--black);
  font-family:Montserrat;
  font-weight: 600;
  font-size:18
}

/*  Project card text  */
h4{
  color: var(--black);
  font-family: Lato;
  font-weight: "bold";
  font-size: 13;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

h6 {
  color: var(--black);
  font-family: Lato;
  font-weight: normal;
  font-size: 12
}

p{
  font-family: Lato;
  font-weight: normal;
  font-size: 1em;
  color: var(--black);
}

.outline_shadow{
  border: 3px solid var(--black);
  border-radius: 7px;
  box-shadow: 7px 7px 0px var(--black);
}

/*  Image styling  */
.headshot_img{
  flex-grow: 1;
  min-width: 150px;
  height: 330px;
  background-size:cover !important;
}

.research_img{
  height: 190px;
  flex-grow: 1;
  background-size: cover !important;
}

.project_img{
  height: 150px;            color: var(--black);
  width: 100%;
  background-size:cover !important;
}

/*  Section styling  */
.header_section{
  padding-top: 60px;
  padding-bottom:40px;
  border: 8px solid var(--black);
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  min-width: 900px;
}

.section{
  padding-top: 20px;
  padding-bottom: 40px;
  border-bottom: 8px solid var(--black);
  border-left: 8px solid var(--black);
  border-right: 8px solid var(--black);
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  min-width: 900px;
}

.center{
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

/*  Header section styling  */
.header_container{
  display: flex;
  flex-direction: row;
  column-gap: 50px
}

.header_left_col{
  width: 55%
}

.header_buttons_container{
  display: flex;
  flex-direction: row;
  width:100%;
  column-gap: 20px;
}

.header_button{
  /* TODO: Fix these! */
  height: auto;
  width: auto;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 15px;
  padding-right: 15px;

  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;

  border: 3px solid var(--black);
  border-radius: 5px;
  font-family: lato;
  font-weight: bold;
  color: var(--black);
  font-size:15;
  text-align:center;
  text-decoration: none;
}

.header_button:link{
  color: var(--black);
}

.header_button:visited{
  color: var(--black);
}

/* Research section styling  */
.research_container{
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.research_entry{
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.research_description{
  display: flex;
  flex-direction: column;
  width: 73%;
}

/*  Project section styling  */
.project_container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px
}

.project_entry{
  display:flex;
  flex-direction:column
}