:root{
  --white: #FFFFFF;
  --black: #000000;
  --dark-red: #A71B5F;
  --red: #D2077A;
  --medium-light-red: #f38ab3;
  --light-red: #FFB2D0;
  --faint-red: #FFEBF3;
  --dark-blue: #4B6BBF;
  --blue: #648FFF;
  --medium-light-blue: #8BBAFF;
  --light-blue: #B6D3FF;
  --faint-blue: #E3EEFF;
  --dark-yellow: #BF8400;
  --yellow: #FFB000;
  --medium-light-yellow: #FFD780;
  --light-yellow: #FFE19F;
  --faint-yellow: #FFF7E7;
  --dark-green: #128354;
  --green: #2DB67D;
  --medium-light-green: #C9E4b4;
  --light-green: #DFF4D5;
  --faint-green: #F6FFF2;
}

a{
  cursor: pointer;
  text-decoration: none;
}

a:visited{
  color: var(--black)
}

a.fill_div{
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

html{
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}  

body{
  margin: 0px;
  padding: 0px;
}

.no_margins{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.small_bottom_margin{
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
}

h1{
  font-family: Montserrat;
  font-weight: 800;
  font-size: 2.5em;
  color: var(--black);

  margin: 0px 0px 0px 0px;
}

h2{
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.5em;
  color: var(--black);
}

h3{
  color: var(--black);
  font-family: Lato;
  font-weight: normal;
  font-size: 16px;
}

/*  Project card text  */
h4{
  color: var(--black);
  font-family: Lato;
  font-weight: "bold";
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

h5 {
  color: var(--black);
  font-family: Lato;
  font-weight: normal;
  font-style: italic;
  font-size: 12px;
}

h6 {
  color: var(--black);
  font-family: Lato;
  font-weight: normal;
  font-size: 12px;
}

p{
  font-family: Lato;
  font-weight: normal;
  font-size: 21px;
  color: var(--black);
}

.outline_shadow{
  border: 2px solid var(--black);
  border-radius: 8px;
  box-shadow: 7px 7px 0px var(--black);
}


/*  Image styling  */


/*  Section styling  */
.header_section{
  padding-top: 60px;
  padding-bottom: 60px;
  border: 5px solid var(--black);
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 1050px;
}

.section{
  padding-top: 40px;
  padding-bottom: 60px;
  border-bottom: 5px solid var(--black);
  border-left: 5px solid var(--black);
  border-right: 5px solid var(--black);
  margin-left: auto;
  margin-right: auto;
  width: 1050px;
}

main{
  padding-bottom: 50px;
}

content{
  width: 100%;
}

img{
  width: 100%;
}

.center{
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

/* =========================== */
/*     Intro section styling   */
/* =========================== */
.header_container{
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.header_bar{
  display: flex;
  flex-direction: row;
  column-gap: auto;
}

.header_menu{
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.header_menu_text{
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  color: var(--black)
}

.header_title{
  display:flex;
  flex-direction: column;
  row-gap: 4px;
  flex-grow: 1
}

.header_body{
  display: flex;
  flex-direction: row;
  column-gap: 70px;
  align-items: center;
}

.headshot_img{
  flex-basis: 288px;
  flex-grow: 0;
  flex-shrink: 0;
  height: 300px;
  background-size:cover !important;
}


/* =========================== */
/*  Research section styling   */
/* =========================== */
.research_container{
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.research_img{
  height: 300px;
  flex-basis: 220px;
  flex-grow: 0;
  flex-shrink: 0;

  background-size: cover !important;
  background-repeat: no-repeat !important;

  border-right: 3px solid var(--black);
}

.horizontal_card{
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  
  overflow: hidden;

  background: var(--white);
  box-shadow: 7px 7px 0px var(--black);
  border: 3px solid var(--black);
  border-radius: 12px;

  align-items: center;
  padding-right: 30px;

  cursor: pointer;
}

.small_vertical_card{
  display:flex;
  flex-direction:column;

  overflow: hidden;

  background: var(--white);
  box-shadow: 7px 7px 0px var(--black);
  border: 3px solid var(--black);
  border-radius: 12px;

  cursor: pointer;
}

.research_entry:hover{
  box-shadow: 7px 7px 0px var(--yellow);
}

.research_entry:active{
  box-shadow: 7px 7px 0px var(--dark-yellow);
}

.card_buttons{
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  margin-left: auto;
}

.card_description{
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

/* =========================== */
/*  Projects section styling   */
/* =========================== */
.project_container{
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.project_img{
  height: 200px;
  flex-basis: 220px;
  flex-grow: 0;
  flex-shrink: 0;

  background-size: cover !important;
  background-repeat: no-repeat !important;

  border-right: 3px solid var(--black);
}

.small_project_img{
  height: 150px;
  width: 100%;
  background-size: cover !important;

  border-bottom: 3px solid var(--black);
}

.project_entry:hover{
  box-shadow: 7px 7px 0px var(--blue);
}

.project_grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.project_entry:active{
  box-shadow: 7px 7px 0px var(--dark-blue);
}

/* ========================================================================================= */
/*                          ICONS & BUTTONS                                                  */
/* ========================================================================================= */

.header_buttons_container{
  display: flex;
  flex-direction: row;
  width:100%;
  column-gap: 40px;
}

.green_bounded_button{
  /* TODO: Fix these! */
  height: auto;
  width: auto;
  max-width: 33%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;

  background: var(--white);
  box-shadow: 4px 4px 0px var(--black);
  border: 2px solid var(--black);
  border-radius: 15px;

  font-family: lato;
  font-weight: bold;
  color: var(--black);
  font-size:15;
  text-align:center;
  text-decoration: none;
}

/* Define basic color variants for arrow icon */
.green_arrow_icon{
  fill: var(--medium-light-green)
}

.yellow_arrow_icon{
  fill: var(--light-yellow)
}

.blue_arrow_icon{
  fill: var(--medium-light-blue)
}

/* Buttons for the intro section */
.green_bounded_button:hover{
  background: var(--light-green)
}

.green_bounded_button:active{
  background: var(--green)
}

.header_button:hover .green_arrow_icon{
  fill: var(--green)
}

.header_button:active .green_arrow_icon{
  fill: var(--dark-green)
}

/* Text buttons (for the research and project section for now */
/* Yellow text button and states */
.yellow_text_button{
  height: auto;
  width: auto;

  background: white;
  border: 0px;

  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;

  font-family: lato;
  font-weight: bold;
  color: var(--black);
  font-size:15px;
  text-align:center;
  text-decoration: none;
  user-select: none;
}

.yellow_text_button:hover{
  color: var(--yellow);
}

.yellow_text_button:active{
  color: var(--dark-yellow)
}

.yellow_text_button:hover .yellow_arrow_icon{
  fill: var(--yellow)
}

.yellow_text_button:active .yellow_arrow_icon{
  fill: var(--dark-yellow)
}

.blue_text_button{
  height: auto;
  width: auto;

  background: white;
  border: 0px;

  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;

  font-family: lato;
  font-weight: bold;
  color: var(--black);
  font-size:15px;
  text-align:center;
  text-decoration: none;
  user-select: none;
}

.blue_text_button:hover{
  color: var(--blue);
}

.blue_text_button:active{
  color: var(--dark-blue)
}

.blue_text_button:hover .blue_arrow_icon{
  fill: var(--blue)
}

.blue_text_button:active .blue_arrow_icon{
  fill: var(--dark-blue)
}

.blue_bounded_button{
  /* TODO: Fix these! */
  height: auto;
  width: auto;
  max-width: 33%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;

  background: var(--white);
  box-shadow: 4px 4px 0px var(--black);
  border: 2px solid var(--black);
  border-radius: 15px;

  font-family: lato;
  font-weight: bold;
  color: var(--black);
  font-size:15;
  text-align:center;
  text-decoration: none;
}

.blue_bounded_button:hover{
  background: var(--light-blue)
}

.blue_bounded_button:active{
  background: var(--blue)
}