{{ partial "head_meta.html"}}

<main>
    <header class="header_section" style="background: var(--faint-green)">
        <div class="center">
            <div class="header_container">
                <div class="header_left_col">
                    <h1 class="small_bottom_margin">{{ .Site.Params.intro.header }}</h1>
                    {{ range .Site.Params.intro.paragraph }}
                        <h3>{{ .text }}</h3>
                    {{end}}

                    <div class="header_buttons_container">
                        <a
                            href="#research"
                            class="header_button"
                            style="background-color:var(--medium-light-yellow)"
                        >
                            Research
                        </a>

                        <a
                            href="#projects"
                            class="header_button"
                            style="background-color:var(--medium-light-blue)"
                        >
                            Projects
                        </a>

                        <a
                            href={{ "pdfs/Bill CV 9_17_2023.pdf" | absURL}}
                            class="header_button"
                            style="background-color:var(--medium-light-red)"
                        >
                            CV
                        </a>
                    </div>
                </div>

                {{  with .Site.Params.intro.img_faceshot  }}
                    <div class="headshot_img outline_shadow", style="background: url({{ . | absURL }}) center"/>
                {{  end  }}
            </div>
        </div>
    </header>

    {{ if .Site.Params.research_section.show }}
    {{ with .Site.Params.research_section }}
    <section id="research" class="section" style="background: var(--faint-yellow)">
        <div class="center">
            <h1 class="small_bottom_margin">{{ .header }}</h1>

            <div class="research_container">
                {{/*  For each research entry, create a research-entry card  */}}
                {{ range .entry }}
                    <div class="research_entry">
                        <div class="outline_shadow research_img", style="background: url({{ .image | absURL }}) center"></div>
                        <div class="research_description">
                            <h3 class="no_margins">{{ .title }}</h3>
                            <h6 class="small_bottom_margin">{{ .authors | markdownify}}</h6>
                            <p class="small_bottom_margin">{{ .blurb | markdownify}}</p>
                        </div>
                    </div>
                {{end}}
            </div>
        </div>
    </section>
    {{ end }}
    {{ end }}

    {{ if .Site.Params.projects_section.show }}
    {{ with .Site.Params.projects_section}}
    <section id="projects" class="section" style="background: var(--faint-blue)">
        <div class = "center">
            <h1 class="small_bottom_margin">{{ .header }}</h1>

            <div class = "project_container">
                {{/*  For each project entry, create a small project entry card  */}}
                {{ range .entry }}
                    {{/*  Fetch optional configurations for each entry  */}}
                    {{ $entry_width := cond (isset . "width") .width 1}} {{/* Default width = 1 */}}
                    {{ $entry_posn := cond (isset . "img_posn") .img_posn "center"}} {{/* Default img posn = center */}}
                    <div
                        class="project_entry outline_shadow"
                        style='background: white; grid-column-end:span {{ $entry_width }}'
                    >
                        <div
                            class="project_img",
                            style="background: url({{ .image | absURL }}) {{ $entry_posn }}">
                        </div>
                        <h4>{{ .title }}</h4>
                    </div>
                {{ end }}
            </div>
        </div>

    </section>
    {{ end }}
    {{ end }}

</main>