{{ partial "head_meta.html"}}
{{ partial "circle_arrow_icon.html"}}

<main>
    <header class="header_section" style="background: var(--faint-green)">
        <div class="center">
            <div class="header_container">

                <div class="header_bar">
                    <div class="header_title">
                        <h1 class="no_margins"> {{ .Site.Params.intro.header}}</h1>
                        <h5 class="no_margins"> {{.Site.Params.intro.email }}</h6>
                    </div>

                    <div class="header_menu">
                        <a class="header_menu_text" href="/">Home</a>
                        <a class="header_menu_text" href="projects/">Projects</a>
                        <a class="header_menu_text" href={{ "pdfs/Bill_Fan_CV_7_19_2024.pdf" | absURL }} target="_blank" >CV</a>
                    </div>
                </div>

                <div class="header_body">
                    <div class="header_body_text">
                        {{ range .Site.Params.intro.paragraph }}
                            <p>{{ .text}}</p>
                        {{end}}
                    </div>

                    {{  with .Site.Params.intro.img_faceshot  }}
                        <div class="headshot_img outline_shadow", style="background: url({{ . | absURL }}) center"> </div>
                    {{  end  }}
                </div>

                <div class="header_buttons_container">
                    <a class="header_button" href={{ "pdfs/Bill_Fan_CV_7_19_2024.pdf" | absURL }} target="_blank" >
                        CV
                        <svg class="green_arrow_icon" width="23" height="23">
                            <use href="#circle_arrow"/>
                        </svg>
                    </a>

                    <a class="header_button" href={{"https://scholar.google.com/citations?user=Ko8Ih50AAAAJ&hl=en"}} target="_blank" >
                        Scholar
                        <svg class="green_arrow_icon" width="23" height="23">
                            <use href="#circle_arrow"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </header>

    {{ if .Site.Params.research_section.show }}
    {{ with .Site.Params.research_section }}
    <section id="research" class="section" style="background: var(--faint-yellow)">
        <div class="center">
            <h1>{{ .header }}</h1>

            <div class="research_container">
                {{/*  For each research entry, create a research-entry card  */}}
                {{ range .entry }}
                    <div class="horizontal_card research_entry" href="{{ .paper }}" onclick="location.href='{{ .paper }}'">
                        {{/*  Fetch optional image placement configs for each entry  */}}
                        {{ $entry_posn := cond (isset . "img_posn") .img_posn "center"}} {{/* Default img posn = center */}}
                        <div class="research_img", style="background: url({{ .image | absURL }}) {{ $entry_posn }}"></div>

                        <div class="card_description">
                            <p style="font-weight: 600;" class="no_margins">{{ .title }}</h2>
                            <h6 class="no_margins">{{ .authors | markdownify}}</h6>
                            <h3 class="no_margins">{{ .blurb | markdownify}}</h3>

                            <div class="card_buttons">
                                <a class="yellow_text_button" href={{.paper}} target="_blank">
                                    Paper
                                    <svg class="yellow_arrow_icon" width="23" height="23">
                                        <use href="#circle_arrow"/>
                                    </svg>
                                </a>

                                {{ if .poster }}
                                    <a class="yellow_text_button" href="{{.poster}}" target="_blank">
                                        Poster
                                        <svg class="yellow_arrow_icon" width="23" height="23">
                                            <use href="#circle_arrow"/>
                                        </svg>
                                    </a>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                {{end}}
            </div>
        </div>
    </section>
    {{ end }}
    {{ end }}

    {{ if .Site.Params.projects_section.show }}
    {{ with .Site.Params.projects_section}}
    <section id="projects" class="section" style="background: var(--faint-blue)">
        <div class = "center">
            <h1>{{ .header }}</h1>

            <div class = "project_container">
                {{/*  For each project entry, create a small project entry card  */}}
                {{ range .entry }}

                    <div class="horizontal_card project_entry" onclick="location.href='{{.url}}'">
                        {{/*  Fetch optional image placement configs for each entry  */}}
                        {{ $entry_posn := cond (isset . "img_posn") .img_posn "center"}} {{/* Default img posn = center */}}
                        <div class="project_img", style="background: url({{ .image | absURL }}) {{ $entry_posn }}"></div>

                        <div class="card_description">
                            <p style="font-weight: 600;" class="no_margins">{{ .title }}</h2>
                            <h3 class="no_margins">{{ .blurb | markdownify}}</h3>

                            <div class="card_buttons">
                                <a class="blue_text_button" href={{.paper}} target="_blank">
                                    Read more
                                    <svg class="blue_arrow_icon" width="23" height="23">
                                        <use href="#circle_arrow"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>

                {{ end }}
            </div>
        </div>

    </section>
    {{ end }}
    {{ end }}

</main>